@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 10, 51;
  --background-start-rgb: 26, 10, 51;
  --background-end-rgb: 26, 10, 51;
  --background-rgb: 26, 10, 51;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
